<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    
    <!-- icons for footer -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>


    <title>CV</title>
</head>

<body>

<header>Сергей Каневский</header>

<nav id="nav">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#nav">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Social media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">in thought</a>
        </li>
      </ul>
</nav>

    <main>
        <article >

            <h2>Welcome to my own website!</h2>

            <p> My name is Sergey Kanevskiy i am 21 years old and i living in Ukraine.</p>

            <h3>What have I been going through my life?</h3>

            
                <li>In childhood played a semi-professional football for 6 years.</li>
                <li>In parallel with football,i played a lot of computer games such us WOW,dota further dota2,cs further csgo.</li>
                <li>After school entered to the National Aviation University in Kyiv where in 2018 completed the full course and obtained qualification:Bachelor Degree. Having specialized in information and communications systems security.</li>   
                <li>From the end of 2018 to today i earnestly acquire skills at web development</li>
            
            <section id="section">

            <h2>Wait,wait,don't leave this page. All technical info about me below.</h2>

                
                <div class="container-fluid">
                    <div class="container">
                      <div class="row text-center justify-content-center">
                        <div class="col-xs-12 col-sm-4 col-lg-3"><img src="{% static "images/english.jpg" %}" class="w-100" style="margin-top:50px;">
                        <h3>English</h3>
                        <p>Want to level up my english, at this moment my skills probably equals to STRONG Pre-Intermediate. </p></div>
                      

                        <div class="col-xs-12 col-sm-4 col-lg-3"><img src="{% static "images/linux.jpg" %}" class="w-100" style="margin-top:50px;">
                        <h3>Linux</h3>
                        <p>
                          I have a year and a half of experience, I want to learn how to use the terminal better.</p></div>
                        

                        <div class="col-xs-12 col-sm-4 col-lg-3"><img src="{% static "images/python.jpg" %}" class="w-100" style="margin-top:50px;">
                        <h3>Python</h3>
                        <p>On the python i has the same temporary experience as on Linux. I had work experience with a flask, tkinter, django. Now i am updating knowledge in django. Have a desire to learn aiohttp / tornado, REST technologies, as well as advance in django / flask.</p></div>
                        

                        <div class="col-xs-12 col-sm-4 col-lg-3"><img src="{% static "images/js.png" %}" class="w-100" style="margin-top:50px;">
                        <h3>JS</h3>
                        <p>In future want to become full-stack dev.Want to learn a lot of : frameworks(angular, etc..), libraries(react, etc..).</p></div>
                        

                        <div class="col-xs-12 col-sm-4 col-lg-3"><img src="{% static "images/db.png" %}" class="w-100" style="margin-top:50px;" >
                        <h3>DB</h3>
                        <p>I will use postgres as the main database. Had some experience, but no more. From nosql most likely it's gonna be the mongodb.</p></div>
                        
                        <div class="col-xs-12 col-sm-4 col-lg-3"><img src="{% static "images/tools.jpg" %}" class="w-100" style="margin-top:50px;">
                        <h3>Linux</h3>
                        <p>I have a plans to master: docker, git (on excellent), aws.</p></div>
                          

                    </div>
                </div>
            </section>
            </article>

        <aside>

            <h3>What i love and what i like for now.</h3>
            <h5>I hold a position that nothing will tell about a person as well as his hobbies.</h5>

                <li>Like to watch esport tournaments in such disciplines: Dota2,cs:go.</li>
                <li>Love to watch a lot of youtube channels but most loved: <a href="https://www.youtube.com/channel/UC2WHjPDvbE6O328n17ZGcfg">ForrestKnight</a>,<a href="https://www.youtube.com/channel/UCspfe9lef7ApJaHQsOcPC1A">overbafer1</a>,<a href="https://www.youtube.com/channel/UCY03gpyR__MuJtBpoSyIGnw">Droider.Ru.</a></li>
                <li>Love to listen the music,my lovely band is - Linkin Park(listened from 7 years and today i'm still listening). If take a separate performer it should be - Lil peep.</li>
                <li>Love to spend the time with my dog.</li>
                <li>Recent times like to watch presentation of it giants such as: Samsung,Apple and Google.</li>
         

        </aside>
       
      </main>

      <footer id="footer">
  
            <div class="container mt-2 mb-2 text-center text-md-left" >
              <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                  <h6 class="text-uppercase font-weight-bold "><strong>I looking forward to</strong></h6>
                  <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width:60px;">
                  <p>I am looking for a company of friendly professionals.</p>
                </div>
          
                  <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold"><strong>Contacts</strong></h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width:60px;">
                    <p><i class="fa fa-home mr-3"></i>Ukraine</p>
                    <p><i class="fa fa-envelope mr-3"></i> yolo_stance@protonmail.com</p>
                    <p><i class="fa fa-phone mr-3"></i>+380988988089</p>
                  </div>
          
                </div>
              </div>

            <div class="primary-color ">
              <div class="container">
                <div class="row py-4 d-flex align-items-center">
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Get connected with me on social networks</h6>
                  </div>
                  
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a href="https://www.facebook.com" class="fb-ic ml-0">
                      <i class="fa fa-facebook white-text mr-4"></i>
                    </a>

                    <a href="https://www.twitter.com" class="fb-ic ml-0">
                      <i class="fa fa-twitter white-text mr-4"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/serhii-kanevskiy-071620135/" class="fb-ic ml-0">
                      <i class="fa fa-linkedin white-text mr-4"></i>
                    </a>

                    <a href="https://github.com/Stancw" class="fb-ic ml-0">
                      <i class="fa fa-github white-text mr-4"></i>
                    </a>

                    <a href="https://www.instagram.com/yolo_stance/" class="fb-ic ml-0">
                      <i class="fa fa-instagram white-text mr-4"></i>
                    </a>

                  </div>
                </div>
              </div>
            </div>
          </footer>
          
</body>
</html>